.App {
  &__item_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__pagination {
    display: flex;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    justify-content: center;
  }
  &__page-item {
    display: inline;
  }
  &__page-link {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #15a9ff;
    background-color: #2d3b59;
    border: 1px solid #17223b;
    margin-left: -1px;
  }
  &__button {
    border-radius: 10px;
    position: relative;
    background: #243654;
    background-clip: padding-box;
    color: #fff;
    display: inline-block;
    padding: 15px;
    overflow: hidden;
    text-align: center;
    border: none;
  }
}